/*Defined colors*/

:root {
  --accent_color: #ff3400;
  --body_color: #918ca4;
  --heading_color: #1b0760;
  --Primary_color: #2584ff;
  --secondary_color: #00d9ff;
}

/* Typography*/

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

body {
  color: var(--body_color);
  font-size: 2.4rem;
}

h1,
h2,
h3,
h4 {
  color: var(--heading_color);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

p {
  margin-top: 1rem;
}

@media screen and (min-size: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/*links*/
#arrow_link {
  color: var(--accent_color);
  font-size: 1.7rem;
  font-weight: bold;
  text-decoration: none;
}

#arrow_link::after {
  content: "-->";
  margin-left: 5px;
}

#arrow_link:hover::after {
  margin-left: 11px;
  transition: margin-left 0.15s;
}

@media screen and (min-width: 1024px) {
  #arrow_link {
    font-size: 1.5rem;
  }
}

/*Badges*/
.badge {
  align-items: center;
  border-radius: 50px;
  display: flex;
  font-size: 15px;
  font-weight: bold;
  height: 11px;
  justify-content: center;
  outline: none;
  padding: 10px;
  width: 86px;
}

.badge_primary {
  background-color: var(--secondary_color);
  color: white;
}

.badge_second {
  background-color: #02cdf1;
  color: white;
  font-size: 13px;
  height: 8px;
  width: 58px;
}

.badge_third {
  background-color: #126de4;
  color: white;
}

/*Lists*/

.list {
  color: var(--heading_color);
  list-style: none;
  padding-left: 0rem;
}

.list_inline .list_items {
  display: inline-block;
  margin-right: 3.5rem;
}

.list_items_verticle {
  margin-bottom: 20px;
}

.list_tick {
  list-style-image: url(./Moshify/icons/tick.svg);
  padding-left: 5rem;
}

.list_tick .list_items {
  padding-left: 0.5rem;
}
@media screen and (min-width: 1024px) {
  .list_tick .list_items {
    padding-left: 0rem;
  }
}

/*Buttons*/

button {
  outline: none;
  border-radius: 6rem;
  text-transform: uppercase;
  height: 6.8rem;
  cursor: pointer;
  white-space: nowrap;
}

.button_large {
  width: 40rem;
}
.button_medium {
  width: 25rem;
  font-size: 2rem;
}
.button_small {
  width: 18rem;
  text-align: center;
  font-size: 2.5rem;
}

button img {
  width: 2.5rem;
  height: 2.5rem;
}

.button_primary {
  background-color: var(--accent_color);
  color: white;
  font-weight: bold;
}

.button_secondary {
  background-color: white;
  color: var(--heading_color);
  border-color: var(--heading_color);
  font-weight: bold;
}

.button_secondary:hover {
  background-color: var(--heading_color);
  color: white;
}

.button_primary:hover {
  color: #fd4516;
}

/*input*/

.domain {
  width: 54rem;
  height: 6rem;
  border-radius: 5rem;
  outline: none;
  border: none;
  padding: 4rem;
  box-shadow: 0 0 2rem grey;
  color: var(--heading_color);
  text-align: left;
}

.domain::placeholder {
  color: lightgray;
}

@media screen and (min-width: 1024px) {
  .domain {
    width: 80rem;
    font-size: 1.5rem;
  }
}

/*Cards*/

.wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid gray;
}

.card_primary,
.card_secondary {
  width: 50rem;
  height: 50rem;
}

.card_head {
  width: 100%;
  height: 35%;
}

.card_body {
  background-color: white;
  height: 64%;
}

.card__head_primary {
  background-color: var(--secondary_color);
}

.card__head_secondary {
  background-color: var(--Primary_color);
}

@media screen and (min-width: 1024px) {
  .card_primary {
    width: 35rem;
    height: 50rem;
  }
  .card_secondary {
    width: 40rem;
    height: 55rem;
  }
}
