/*Defined colors*/

:root {
  --accent_color: #ff3400;
  --body_color: #918ca4;
  --heading_color: #1b0760;
  --Primary_color: #2584ff;
  --secondary_color: #00d9ff;
}

/* Typography*/

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

body {
  color: var(--body_color);
  font-size: 2.4rem;
}

h1,
h2,
h3,
h4 {
  color: var(--heading_color);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

p {
  margin-top: 1rem;
}

@media screen and (min-size: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/*links*/
#arrow_link {
  color: var(--accent_color);
  font-size: 1.7rem;
  font-weight: bold;
  text-decoration: none;
}

#arrow_link::after {
  content: "-->";
  margin-left: 5px;
}

#arrow_link:hover::after {
  margin-left: 11px;
  transition: margin-left 0.15s;
}

@media screen and (min-width: 1024px) {
  #arrow_link {
    font-size: 1.5rem;
  }
}

/*Badges*/
.badge {
  font-weight: bold;
  width: 86px;
  height: 11px;
  padding: 10px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  outline: none;
}

.badge_primary {
  background-color: var(--secondary_color);
  color: white;
}

.badge_second {
  background-color: #02cdf1;
  color: white;
  font-size: 13px;
  width: 58px;
  height: 8px;
}

.badge_third {
  background-color: #126de4;
  color: white;
}
