/*Defined colors*/

:root {
  --accent_color: #ff3400;
  --body_color: #918ca4;
  --heading_color: #1b0760;
  --Primary_color: #2584ff;
  --secondary_color: #00d9ff;
}

/* Typography*/

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

body {
  color: var(--body_color);
  font-size: 2.4rem;
}

h1,
h2,
h3,
h4 {
  color: var(--heading_color);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

p {
  margin-top: 1rem;
}

@media screen and (min-size: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/*links*/
#arrow_link {
  color: var(--accent_color);
  font-size: 1.7rem;
  font-weight: bold;
  text-decoration: none;
}

#arrow_link::after {
  content: "-->";
  margin-left: 5px;
}

#arrow_link:hover::after {
  margin-left: 11px;
  transition: margin-left 0.15s;
}

@media screen and (min-width: 1024px) {
  #arrow_link {
    font-size: 1.5rem;
  }
}

/*Badges*/
.badge {
  align-items: center;
  border-radius: 50px;
  display: flex;
  font-size: 15px;
  font-weight: bold;
  height: 11px;
  justify-content: center;
  outline: none;
  padding: 10px;
  width: 86px;
}

.badge_primary {
  background-color: var(--secondary_color);
  color: white;
}

.badge_second {
  background-color: #02cdf1;
  color: white;
  font-size: 13px;
  height: 8px;
  width: 58px;
}

.badge_third {
  background-color: #126de4;
  color: white;
}

/*Lists*/

.list {
  color: var(--heading_color);
  list-style: none;
  padding-left: 0rem;
}

.list_inline .list_items {
  display: inline-block;
  margin-right: 3.5rem;
}

.list_items_verticle {
  margin-bottom: 20px;
}

.list_tick {
  list-style-image: url(./Moshify/icons/tick.svg);
  padding-left: 5rem;
}

.list_tick .list_items {
  padding-left: 0.5rem;
}
@media screen and (min-width: 1024px) {
  .list_tick .list_items {
    padding-left: 0rem;
  }
}

/*Buttons*/

button {
  outline: none;
  border-radius: 6rem;
  text-transform: uppercase;
  height: 6.8rem;
  cursor: pointer;
  white-space: nowrap;
}

.button_large {
  width: 40rem;
}
.button_medium {
  width: 25rem;
  font-size: 2rem;
}
.button_small {
  width: 18rem;
  text-align: center;
  font-size: 2.5rem;
}

button img {
  width: 2.5rem;
  height: 2.5rem;
}

.button_primary {
  background-color: var(--accent_color);
  color: white;
  font-weight: bold;
}

.button_secondary {
  background-color: white;
  color: var(--heading_color);
  border-color: var(--heading_color);
  font-weight: bold;
}

.button_secondary:hover {
  background-color: var(--heading_color);
  color: white;
}

.button_primary:hover {
  color: #fd4516;
}

/*input*/

.domain {
  width: 54rem;
  height: 6rem;
  border-radius: 5rem;
  outline: none;
  border: none;
  padding: 4rem;
  box-shadow: 0 0 2rem grey;
  color: var(--heading_color);
  text-align: left;
}

.domain::placeholder {
  color: lightgray;
}

@media screen and (min-width: 1024px) {
  .domain {
    width: 80rem;
    font-size: 1.5rem;
  }
}

/*Cards*/

.cards {
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid gray;
}

.card_primary,
.card_secondary {
  width: 50rem;
  height: 50rem;
}

.card_head {
  width: 100%;
  height: 35%;
}

.card_body {
  background-color: white;
  height: 64%;
}

.card__head_primary {
  background-color: var(--secondary_color);
}

.card__head_secondary {
  background-color: var(--Primary_color);
}

@media screen and (min-width: 1024px) {
  .card_primary {
    width: 35rem;
    height: 50rem;
  }
  .card_secondary {
    width: 40rem;
    height: 55rem;
  }
}

/*icons*/

.icon {
  width: 4rem;
  height: 4rem;
}

.icon_primary {
  fill: var(--Primary_color);
}
.icon_white {
  fill: white;
}

/*Media Objects*/

.media_head {
  color: var(--heading_color);
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 3rem;
}

.media_logo {
  width: 4rem;
}

.media_body {
  word-spacing: 1rem;
  line-height: 3rem;
  font-size: 2rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  .media_head {
    font-size: 2.5rem;
  }

  .media_body {
    font-size: 1.7rem;
  }
}

/*Quotes*/

.quotes {
  background-color: white;
  border-radius: 1rem;
}

blockquote {
  color: var(--heading_color);
  font-size: 2.2rem;
  word-spacing: 1.2rem;
  line-height: 2.8rem;
  margin: inherit;
  padding-bottom: 2rem;
}
blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}

.quote_caption {
  display: block;
  color: var(--heading_color);
}

/*Navigation*/

.nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav_logo {
}

#close_logo {
  position: fixed;
  top: 1rem;
  right: 2rem;
  align-self: center;
  font-size: 30px;
  color: white;
  display: none;
}

#menu_logo {
  padding-right: 1rem;
  align-self: center;
  opacity: 0.6;
}

#menu_logo:hover {
  opacity: 1;
}

#nav_container {
  width: 85%;
  list-style: none;
  display: none;
}

.nav_items {
  padding: 1rem 0;
  border-bottom: 1px solid rgb(136, 133, 133);
}

.nav_items a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.7;
}

.nav_items a:hover {
  opacity: 1;
}

@media screen and (min-width: 570px) {
  .nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .nav_logo {
    object-fit: contain;
  }

  #close_logo,
  #menu_logo,
  #menu_logo:hover {
    display: none;
  }

  #nav_container {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav_items {
    padding: 0 1.3rem;
    border: none;
    font-size: 1.5rem;
  }

  .nav_items a {
    color: white;
    text-decoration: none;
    opacity: 0.7;
    font-weight: 100;
  }

  .nav_items a:hover {
    opacity: 1;
  }
}
