<section class="cards">
  <div class="card_head card__head_primary"></div>
  <div class="card_body"></div>
</section>

<section class="cards">
  <div class="card_head card__head_secondary"></div>
  <div class="card_body"></div>
</section>

<div class="wrap">
  <section class="cards card_primary">
    <div class="card_head card__head_primary"></div>
    <div class="card_body"></div>
  </section>

  <div class="wrap">
    <section class="cards card_secondary">
      <div class="card_head card__head_secondary"></div>
      <div class="card_body"></div>
    </section>
  </div>
</div>
