<nav class="nav">
  <img src="/Moshify/images/logo.png" alt="" class="nav_logo" />
  <span onclick="closed()" id="close_logo">&times;</span>
  <svg onclick="extend()" id="menu_logo" class="icon icon_white">
    <use xlink:href="./Logos/sprite.svg#menu"></use>
  </svg>
  <ul id="nav_container">
    <li class="nav_items"><a href="#">Hoisting</a></li>
    <li class="nav_items"><a href="#">VPS</a></li>
    <li class="nav_items"><a href="#">Domain</a></li>
    <li class="nav_items"><a href="#">Pricing</a></li>
  </ul>
</nav>

<!--
  <script src="/index.js"></script>

  -->
